#{extends 'main.html' /}
#{set title:'Posts made by ' + profile /}

*{********* Title ********* }*

    <h2 style="color:#f5c2cc;">${creator}'s Profile</h2>

#{if posts.size() > 1}
<h3>There are ${posts.size()} posts made by ${creator}</h3>
#{/if}
#{elseif posts}
<h3>There is 1 post made by ${creator}</h3>
#{/elseif}
#{else}
<h3>No posts made by ${creator}</h3>
#{/else}

*{********* Posts list *********}*

<div class="older-posts">
#{list items:posts, as:'post'}
        #{display post:post, as:'teaser' /}
    #{/list}
</div>